@model List<Comment>

<br>
<div>
    <h3>Comments</h3><br>
       <div id="faultCode-table-holder">
          <table id="faultCode-table" class="table-striped table table-bordered" >
                    <tr>
                        <th>Name</th>
                        <th>Comment</th>
                        
                    </tr>
                
                    @foreach(var comment in Model){
                        <tr>
                            <td>@comment.Username</td>
                            <td>@comment.CommentText</td>
                        </tr>  
                    }
                </table>  

                <input type="button" class="btn btn-success" value="Back to Troubleshooting" onclick="history.go(-1);return false;">
        </div>
</div>