<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
  <div class="jumbotron sm-white text-whited">
  <div class="container">
    <h1>What do you want to fix today?</h1>
  </div>
</div>
<div class="row">
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4">
      <div class="card-body">
        <a href="/EasyFix/Dishwasher">  <img class="icon" src="https://i.ibb.co/LQT3tFp/dishwasher.png" width="200px">
        <h3>Dishwasher</h3>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <a href="/EasyFix/Dishwasher">  <img class="icon" src="https://i.ibb.co/1dMM5r3/oven.png" width="200px">
        <h3>Stove</h3>
      </div>
    </div>
      <a href="/EasyFix/Dishwasher"> <div class="card mb-4 card-Index">
      <div class="card-body">
          <img class="icon" src="https://i.ibb.co/gdV6q0r/washer.png" width="200px">
        <h3>Washer</h3>
      </div>
      </a>
    </div>
    </div>
  </div>
   <div class="jumbotron bg-white text-whited">
  <div class="container">
  </div>
</div>
</body>
</html>

      